$-theme: #409eff;

// sidebar
$menuBg: #304156;
$subMenuBg: #1f2d3d;
$menuHover: #001528;

// circle
$customerNick: #2077d1;
$createTime: #8f9193;

$labelCol: #000;
$labelBg: #eeebeb;
$labelColHover: #fff;
$labelBgHover: #cf229a;
